<body>
    <h1>Artist Search Results</h1>

{{#each artists.items}}
    <div class="artist">
    <h2>{{name}}</h2>
    <img src="{{images.[0].url}}" alt="{{name}}">

    <!-- Button or link to show albums for the artist -->
    <a href="/albums/{{id}}">View Albums</a>
    </div>
{{/each}}

</body>
