<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/style.css">

    <title>Spotify App</title>
</head>
<body>

<section>
<div class="container">
<form action="/artist-search" method="GET" id="form">
<label for="search-box"></label>
<input class="search-input" type="'text" name="artist">
<br><br>
<button type="submit" class="search-button">
    Search For an Artist
    </button>
    </form>
</div>
</section>

</body>
</html>